<a href="https://colab.research.google.com/github/vishnucontrol/ss_churn_prediction/blob/main/ss_prepro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
import pandas as pd

# Load dataset (assuming a CSV file)
df = pd.read_csv('/content/drive/MyDrive/NOTES/churn_data/E Commerce Dataset.csv')

In [26]:
# Basic info of the dataset
print(df.info())

# Show sample records
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customerid                   5630 non-null   int64
 1   churn                        5630 non-null   int64
 2   tenure                       5366 non-null   float64
 3   preferredlogindevice         5630 non-null   object
 4   citytier                     5630 non-null   int64
 5   warehousetohome              5379 non-null   float64
 6   preferredpaymentmode         5630 non-null   object
 7   gender                       5630 non-null   object
 8   hourspendonapp               5375 non-null   float64
 9   numberofdeviceregistered     5630 non-null   int64
 10  preferedordercat             5630 non-null   object
 11  satisfactionscore            5630 non-null   int64
 12  maritalstatus                5630 non-null   object
 13  numberofaddress              5630 non-null   int64
 14  complain                     5630 non-null   int64
 15  orderamounthikefromlastyear  5365 non-null   float64
 16  couponused                   5374 non-null   float64
 17  ordercount                   5372 non-null   float64
 18  daysincelastorder            5323 non-null   float64
 19  cashbackamount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 923.7+ KB
None
   customerid  churn  tenure preferredlogindevice  citytier  warehousetohome  \
0       50001      1     4.0         Mobile Phone         3              6.0
1       50002      1     NaN                Phone         1              8.0
2       50003      1     NaN                Phone         1             30.0
3       50004      1     0.0                Phone         3             15.0
4       50005      1     0.0                Phone         1             12.0

  preferredpaymentmode  gender  hourspendonapp  numberofdeviceregistered  \
0           Debit Card  Female             3.0                         3
1                  UPI    Male             3.0                         4
2           Debit Card    Male             2.0                         4
3           Debit Card    Male             2.0                         4
4                   CC    Male             NaN                         3

     preferedordercat  satisfactionscore maritalstatus  numberofaddress  \
0  Laptop & Accessory                  2        Single                9
1              Mobile                  3        Single                7
2              Mobile                  3        Single                6
3  Laptop & Accessory                  5        Single                8
4              Mobile                  5        Single                3

   complain  orderamounthikefromlastyear  couponused  ordercount  \
0         1                         11.0         1.0         1.0
1         1                         15.0         0.0         1.0
2         1                         14.0         0.0         1.0
3         0                         23.0         0.0         1.0
4         0                         11.0         1.0         1.0

   daysincelastorder  cashbackamount
0                5.0          159.93
1                0.0          120.90
2                3.0          120.28
3                3.0          134.07
4                3.0          129.60

In [27]:
# Assuming df is your DataFrame
threshold = 0.05  # 5%

# Iterate through each column to check null values
for column in df.columns:
    # Calculate the percentage of null values for the column
    null_percentage = df[column].isnull().mean()

    # If null percentage is less than 5%, drop those rows
    if null_percentage < threshold:
        df.dropna(subset=[column], inplace=True)

In [38]:
categorical_columns in df.columns

TypeError: unhashable type: 'Index'

In [37]:
# Convert categorical variables using one-hot encoding
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
if len(categorical_columns) > 0:

  df = pd.get_dummies(df, columns=categorical_columns)

# Or use label encoding for ordinal features
  from sklearn.preprocessing import LabelEncoder
  le = LabelEncoder()
  df['satisfactionscore'] = le.fit_transform(df['satisfactionscore'])

In [41]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Option 1: Standardize the data
scaler = StandardScaler()
numeric_columns = df.select_dtypes(include=['number']).columns
if len(numeric_columns) > 0:
  df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

# Option 2: Min-Max Scale the data
  min_max_scaler = MinMaxScaler()
  df[numeric_columns] = min_max_scaler.fit_transform(df[numeric_columns])

In [44]:
df.columns

Index(['customerid', 'churn', 'tenure', 'citytier', 'warehousetohome',
       'hourspendonapp', 'numberofdeviceregistered', 'satisfactionscore',
       'numberofaddress', 'complain', 'orderamounthikefromlastyear',
       'couponused', 'ordercount', 'daysincelastorder', 'cashbackamount',
       'preferredlogindevice_Computer', 'preferredlogindevice_Mobile Phone',
       'preferredlogindevice_Phone', 'preferredpaymentmode_CC',
       'preferredpaymentmode_COD', 'preferredpaymentmode_Cash on Delivery',
       'preferredpaymentmode_Credit Card', 'preferredpaymentmode_Debit Card',
       'preferredpaymentmode_E wallet', 'preferredpaymentmode_UPI',
       'gender_Female', 'gender_Male', 'preferedordercat_Fashion',
       'preferedordercat_Grocery', 'preferedordercat_Laptop & Accessory',
       'preferedordercat_Mobile', 'preferedordercat_Mobile Phone',
       'preferedordercat_Others', 'maritalstatus_Divorced',
       'maritalstatus_Married', 'maritalstatus_Single'],
      dtype='object')

In [43]:
from sklearn.model_selection import train_test_split

X = df.drop('churn', axis=1)
y = df['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('vectorizer', TfidfVectorizer()),
    # Add more steps as needed
])

In [46]:
print(X_train.shape)
print(X_test.shape)

(3888, 35)
(972, 35)